<div class="banner">
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="/img/logo.png" alt=""/></a>
    </div>
    <div class="menu">
      <ul class="megamenu skyblue">
        <li><a class="color7" href="akims.html">Veidui</a></li>
        <li><a class="color7" href="akims.html">Akims</a>
        </li>
        <li><a class="color7" href="akims.html">L&#363poms</a></li>
        <li><a class="color7" href="akims.html">Rankoms</a></li>
        <div class="clearfix"></div>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <div class="header_arrow">
      <a href="#arrow" class="scroll"><span> </span></a>
    </div>
  </div>
</div>
